 *{
    box-sizing: border-box;
}

html body{
    background: #044F99;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.name{
    font-weight: bolder;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.top-nav{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.nav-link{
    float: left;
    clear: left;
    color: #FFE99A;
}

.page-header{
    font-family: 'Montserrat', sans-serif;
}

.intro{
    text-align: center;
    margin-top: 150px;
    color: #FFE99A;
}

.sub-header{
    margin-bottom: 30px;
    font-family: 'Lexend Giga', sans-serif;
}

.mission{
    border: solid #7C2419 1px;
    border-style: ridge;
    border-width: thick;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 1.5;
    font-family: 'Lexend Giga', sans-serif;
}

.project{
    text-align: center;
    color: #FFE99A;
}

.p-header{
    font-family: 'Source Sans Pro', sans-serif;
}

.p-img{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.p-desc{
    border: solid #7C2419 1px;
    border-style: ridge;
    border-width: thick;
    width: 400px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Lexend Giga', sans-serif;
}

.p-refs{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ref{
    margin-top: 30px;
}

.tech-label{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.tech-item{
    display: flex;
    margin-top: 10px;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 2.0;
    font-family: 'Lexend Giga', sans-serif;
    color: #FFE99A;
}

.foot{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.foot > h4{
    padding: 20px;
    margin: 0;
}

.contact{
    float: left;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.con-link{
    color: white;
}

.contact-item > li{
    margin-bottom: 5px;
    list-style: none;
}

.prof{
    border-radius: 50%;
    width: 100px;
}

@media screen and (min-width: 600px) {
    .contact-item{
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .contact-item > li{
        margin-bottom: 20px;
        padding: 0;
    }

    .prof{
        border-radius: 5px;
    }

}